/* *{
  margin:0;
  padding:0;
}
#root{
  margin:0;
  padding:0;
}
.App{
  margin:0;
  padding:0;
} */

.note-tab{
  border: 1px solid grey;
  padding: 2px;
  margin-right: 3px;
  margin-top: 10px;
  margin-bottom:10px;
}

.note-tab-list{
  /* margin-top:20px; */
}

#current-note{
  margin-top:10px;
}

.tab-menu{
  float:right;
  /* position: fixed;
  top: 0;
  right: 0;
  margin-top: 135px;
  margin-right: 20px; */
}

.tab-select{
  float: right;
  /* position: fixed;
  top: 0;
  right:0;
  margin-top:135px;
  margin-right: 100px; */
}

textarea{
  width: 100%;
  height: 500px;
  background: black;
  color: white;
}

.add-btn{
  float:right;
  /* position: fixed;
  top:0;
  margin-top: 135px;
  margin-right: 0px; */
}

.note-tab-list{
  width:'80%';
  height:'35px';
  overflow:'scroll';
  float: left;
}

.tab-close{
  padding: 1px;
  /* border: 1px solid grey; */
  font-weight: bold;

}